[data-termynal] {
    border-radius: 4px;
    text-align: left;
    // background: $secondary-bg-color;

    background: #292e39;
    color: $byzantine
}

[data-ty] {
    color: $primary-fg-color;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
    color: $bittersweet;
}

#termynal-about:after {
    content: "";
}

@media (max-width: $mobile-breakpoint) {
  .bg {
    background-attachment: scroll;
  }
}

.home-logo { 
  animation: scale-in-center .8s cubic-bezier(.25, .46, .45, .94) both;
}
